name: Main

on:
  push:
    branches:
      - master
      - 'push-action/**'
  pull_request:

concurrency:
  group: main-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node and pnpm
        uses: silverhand-io/actions-node-pnpm-run-steps@v2
        with:
          run-install: false
      
      - name: Sync package.json and install deps
        run: pnpm package:sync --silent && pnpm i

      - name: Build
        run: pnpm -- lerna run --stream build

      - name: Lint
        run: pnpm -- lerna run --parallel lint

      - name: Test
        run: pnpm -- lerna run --parallel test:coverage
